<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form class="formRegister" name="register">
<div data-ng-controller="HomeController" class="form--row">
    <p>
         Email address <br>
        <input id ="email" type="email" data-ng-model="formData.email"  placeholder="name@company.com" class="emailField" required>
        <button type="submit" ng-click="buttonClick()" class="getStartedButton">Submit</button>

    </p>
</div>
</form>

</body>
</html>